/*
Sobreposição do z-index das opções do menu superior ao thead fixo do APEX
*/
.t-fht-thead.is-stuck {
    top: 70px!important
}
.t-fht-thead {
    z-index: 0!important
}
.ui-dialog.ui-front {
    z-index: 5000;
}

.modal-body .a-IRR-container {
    margin-bottom: 90px;
}

.modal-body .t-fht-thead.is-stuck {
    top: 0px!important
}